@tailwind base;
@tailwind components;
@tailwind utilities; 



@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*{margin: 0; padding: 0; font-family:  'GangwonEdu_OTFBoldA';}
a{text-decoration: none; color: black;}
ul, ol{list-style: none;}

body {
  height: 100%;
  background-color:  #313131;
}




.loading{
  font-family: 'Dongle', sans-serif;
}


.gradient{
      background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(179,222,251,1) 100%);
}

.swiper .swiper-pagination-bullet {
  background-color: #828282;

}

.footer{
  font-family: 'Birthstone', cursive;
}